/* You can add global styles to this file, and also import other style files */

body {
    background-image: url("http://localhost:8080//imageCenima/background.jpg");
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    opacity: 0.9;
}